<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ldap="http://www.springframework.org/schema/ldap"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <util:properties location="classpath:ldap.properties" id="ldapProps"/> -->
	<context:property-placeholder ignore-resource-not-found="false" location="classpath:ldap.properties"/>
	
	<ldap:context-source url="${ldap_url}" base="${baseDn}" username="${bind_user}" password="${bind_pwd}" />
	

	<ldap:ldap-template id="ldapTemplate" />
	

	<bean id="ldapUtil" class="com.lister.ldap.auth.LdapUtil">
		<constructor-arg name="ldapTemplate" ref="ldapTemplate" />
		<property name="defaultFetchAttributes" value="${default_fetch_attributes}"/>
		<property name="defaultGroupFetchAttr" value="${grp_mem_attr}"/>
		<property name="adminGroup" value="${admin_group}"></property>
	</bean>
	


</beans>